{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/18013936?s=460&u=6473577c965c80a490813f368c029bf7cbb6aa85&v=4" alt="its mi">
        <h1>Eduardo Silva</h1>
        <h2>Front-End</h2>
    </div>
    <div class="links">
        <a href="/">Github</a>
        <a href="/">Twitter</a>
        <a href="/">Linkedin</a>
    </div>
{% endblock %}
