{% extends "layout.njk" %}
{% block content %}
    <div class="wrapper">
        <img src="{{ data.avatar_url }}" alt="{{ data.name }}">
        <h1>{{ data.name }}</h1>
        <h2>{{ data.role }}</h2>
        <p>{{ data.description }}</p>
    </div>
    <div class="links">
        {% for link in data.links %}
            <a href="{{ link.url }}">{{link.name}}</a>
        {% endfor %}
    </div>
{% endblock %}
