<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Eduardo</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="index.html">Sobre</a>
            <a href="classes.html">Aulas</a>
        </div>
    </header>
    <div class="wrapper">
        <img src="eu.jpeg" alt="its mi">
        <h1>Eduardo Silva</h1>
        <h2>Front-End</h2>
    </div>
    <div class="links">
        <a href="/">Github</a>
        <a href="/">Twitter</a>
        <a href="/">Linkedin</a>
    </div>
</body>
</html>